* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 720px;
    margin: 0 auto;
}

.wrapper-grid-1 {
    display: grid;
    grid-template-columns: repeat(5 1fr);
    grid-template-rows: repeat(6 1fr);
    gap: 0px;
    margin: 0 auto;
    width: 500px;
    border: solid 3px black;
    border-radius: 15px;
}

.size-def {
    height: 50px;
}

.border {
    border: solid 3px black;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
}

.obj-1 {
    grid-area: 1 / 1 / 2 / 3;
    height: 50px;
    border-top-left-radius: 10px;
}

.obj-2 {
    grid-area: 6 / 1 / 7 / 2;
    height: 50px;
    border-bottom-left-radius: 10px;
}
.obj-3 {
    grid-area: 6 / 2 / 7 / 3;
    height: 50px;
}

.obj-4 {
    grid-area: 6 / 3 / 7 / 6;
    height: 50px;
    border-bottom-right-radius: 10px;
}

.obj-5 {
    grid-area: 1 / 3 / 2 / 5;
    height: 50px;
    ;
}

.obj-6 {
    grid-area: 1 / 5 / 2 / 6;
    height: 50px;
    border-top-right-radius: 10px;
}

.obj-7 {
    grid-area: 2 / 1 / 4 / 2;
    height: 100px;
}

.obj-8 {
    grid-area: 2 / 2 / 4 / 3;
    height: 100px;
}

.obj-9 {
    grid-area: 2 / 3 / 6 / 6;
    height: 200px;
}

.obj-10 {
    grid-area: 4 / 1 / 6 / 3;
    height: 100px;
}

.wrapper-grid-2 {
    display: grid;
    grid-template-columns: 1fr 6fr;
    border: 2px solid black;
}

.aside {
    grid-area: 1 / 1 / 2 / 2;
    border: solid 2px red;
    display: subgrid;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: px;
    grid-row-gap: px;
    border: 2px solid blue;
}

img {
    margin: 10px;
    border: 2px solid orange;

}

.div1 {
    grid-area: 1 / 1 / 2 / 7;

}

.div2 {
    grid-area: 2 / 1 / 3 / 3;
    height: fit-content;
}

.div3 {
    grid-area: 2 / 3 / 3 / 5;
}

.div4 {
    grid-area: 2 / 5 / 3 / 7;
}

.div5 {
    grid-area: 3 / 4 / 4 / 7;
}

.div6 {
    grid-area: 3 / 1 / 4 / 4;
}

.aside--link {
    font-size: 15px;
    text-decoration: none;

    margin: 5px;
}

.xadanie,
.zadanie, .xadanie-3 {
    margin: 50px 0;
}
.wrapper-grid-3 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
.div-3 {
    height: 100px;
    display: grid;
    place-items: center;
}
.div3--blocklink {
    text-decoration: none;
    font-size: 25px;
    color: black;
}
