:root {
    --color-dark-blue: #1a1e42;
    --color-dark-blue-faded: rgb(26, 30, 66, 0.80);
    --color-orange: #F7931A;
    --color-white: #fff;
    --color-grey-500: #667085;
    --color-grey-400: #98A2B3;
    --color-grey-300: #D0D5DD;
    --color-grey-100: #F2F4F7;
    --color-green: #00B67A;
    font-size: 62.5%;
}

/* space-grotesk-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/space-grotesk-v16-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* space-grotesk-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/space-grotesk-v16-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* space-grotesk-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/space-grotesk-v16-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk';
}

.btn {
    border: none;
    background-color: inherit;
}

.btn:hover {
    cursor: pointer;
}

.wrapper {
    max-width: 720px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
}

.header {
    display: flex;
    justify-content: space-between;

}

.side-nav {
    display: none;
}

.footer_top nav {
    color: #475467;
    font-weight: 600;
    line-height: 24px;
}

.footer_top img {
    margin-bottom: 25px;
}

.footer_top li {
    margin-bottom: 15px;
}

.footer_bottom a {
    color: #475467;
    font-weight: 600;
    line-height: 24px;
    margin-right: 35px;
}

.footer_bottom p {
    color: var(--color-grey-400);
    font-weight: 400;
    line-height: 24px;

}

.footer {
    background-color: var(--color-grey-100);

}

.rating {
    display: flex;
    align-items: center;
}

.rating .score {
    margin: 0 0 0 10px;
}

.wrapper-grid-1 {
    display: grid;
    grid-template-columns: repeat(5 1fr);
    grid-template-rows: repeat(6 1fr);
    gap: 0px;
    margin: 0 auto;
    width: 500px;
    border: solid 3px black;
    border-radius: 15px;
}

.size-def {
    height: 50px;
}

.border {
    border: solid 3px black;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
}

.obj-1 {
    grid-area: 1 / 1 / 2 / 3;
    height: 50px;
    border-top-left-radius: 10px;
}

.obj-2 {
    grid-area: 6 / 1 / 7 / 2;
    height: 50px;
    border-bottom-left-radius: 10px;
}

.obj-3 {
    grid-area: 6 / 2 / 7 / 3;
    height: 50px;
}

.obj-4 {
    grid-area: 6 / 3 / 7 / 6;
    height: 50px;
    border-bottom-right-radius: 10px;
}

.obj-5 {
    grid-area: 1 / 3 / 2 / 5;
    height: 50px;
    ;
}

.obj-6 {
    grid-area: 1 / 5 / 2 / 6;
    height: 50px;
    border-top-right-radius: 10px;
}

.obj-7 {
    grid-area: 2 / 1 / 4 / 2;
    height: 100px;
}

.obj-8 {
    grid-area: 2 / 2 / 4 / 3;
    height: 100px;
}

.obj-9 {
    grid-area: 2 / 3 / 6 / 6;
    height: 200px;
}

.obj-10 {
    grid-area: 4 / 1 / 6 / 3;
    height: 100px;
}

.wrapper-grid-2 {
    display: grid;
    grid-template-columns: 1fr 6fr;
    border: 2px solid black;
}

.aside {
    grid-area: 1 / 1 / 2 / 2;
    border: solid 2px red;
    display: subgrid;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 2px solid blue;
}

.xadanie img {
    margin: 10px;
    border: 2px solid orange;

}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.div1 {
    grid-area: 1 / 1 / 2 / 7;

}

.div2 {
    grid-area: 2 / 1 / 3 / 3;
    height: fit-content;
}

.div3 {
    grid-area: 2 / 3 / 3 / 5;
}

.div4 {
    grid-area: 2 / 5 / 3 / 7;
}

.div5 {
    grid-area: 3 / 4 / 4 / 7;
}

.div6 {
    grid-area: 3 / 1 / 4 / 4;
}

.aside--link {
    font-size: 15px;
    text-decoration: none;

    margin: 5px;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Space Grotesk';
}

.xadanie,
.zadanie,
.xadanie-3 {
    margin: 50px 0;
}

.wrapper-grid-3 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.div-3 {
    height: 100px;
    display: grid;
    place-items: center;
}

.div3--blocklink {
    text-decoration: none;
    font-size: 25px;
    color: black;
}