.card-container {
  perspective: 500px;
  margin-top: 100px;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.card {
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.front,
.back {
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}
.card {
  width: 300px;
  height: 400px;
}

.front,
.back {
  box-shadow: 0 1px 10px 0;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}
.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-container img {
  display: block;
  width: 300px;
  height: 400px;
  object-position: center;
  object-fit: cover;
}
body {
  margin: 0;
  padding: 0;
}
.infinite {
  overflow: hidden;
  max-width: 60%;
  margin: 100px auto;
}
.infinite div {
  display: flex;
  width: 200%;
  animation: img-infinite 5s linear infinite;
}
/* спан должен быть больше в размерах чем .infinite */
.infinite span {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.infinite span img {
  width: 20%;
  height: 300px;
}
@keyframes img-infinite {
  0% {
    transform: translatex(0%);
  }
  100% {
    transform: translatex(-50%);
  }
}
