.card-container {
    perspective: 500px;

}

.card-container:hover .card {
    transform: rotateY(180deg);
}

.card {
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.front,
.back {
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}
.card {
    width: 300px;
    height: 400px;
}

.fzont,
.back {
    box-shadow: 0 1px 6px 0;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;

}
.container {
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img {
    display: block;
    width: 300px;
    height: 400px;
    object-position: center;
    object-fit: cover;
}
body {
    margin: 0;
    padding: 0;
}