:root {
  --color-dark-blue: #1a1e42;
  --color-dark-blue-faded: rgb(26, 30, 66, 0.80);
  --color-orange: #F7931A;
  --color-white: #fff;
  --color-grey-500: #667085;
  --color-grey-400: #98A2B3;
  --color-grey-300: #D0D5DD;
  --color-grey-100: #F2F4F7;
  --color-green: #00B67A;
  font-size: 62.5%;
}

/* space-grotesk-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/space-grotesk-v16-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* space-grotesk-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/space-grotesk-v16-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* space-grotesk-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/space-grotesk-v16-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::before {
  box-sizing: border-box;
}

.footer_top nav {
  color: #475467;
  font-weight: 600;
  line-height: 24px;
}

.partners ul li img {
  width: 130px;
}

.score {
  color: var(--color-dark-blue);
  font-weight: 600;
}

.trustpilot-logo {
  margin-top: 5px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating .score {
  margin: 0 0 0 10px;
}

.footer_top img {
  margin-bottom: 25px;
}

.footer_top li {
  margin-bottom: 15px;
}

.footer_bottom a {
  color: #475467;
  font-weight: 600;
  line-height: 24px;
  margin-right: 35px;
}

.footer_bottom p {
  color: var(--color-grey-400);
  font-weight: 400;
  line-height: 24px;

}

#form legend {
  color: white;
  font-size: 2.3rem;
  line-height: 30px;
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 15px;
}

#form fieldset {
  border: none;
}

#form {
  margin: 48px 0px 30px;
  text-align: center;
}

.form-wrapper {
  padding: 1rem 1.5rem;
  margin: 0 auto;
}

.btn {
  border: none;
  background-color: inherit;
}

.btn:hover {
  cursor: pointer;
}

#form .btn {
  display: flex;
  padding: 11px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  width: 100%;
  margin: 12px 0px;
  background-color: #F9FAFB;
  font-size: 1.5rem;
  color: var(--color-dark-blue);
  font-weight: 400;
  line-height: 26px;
}

.get-in-touch--wrapper {
  padding: 2.5rem 2rem;
  margin: 0 auto;
  color: var(--color-grey-300);
}

.get-in-touch--wrapper h2 {
  color: white;
  font-weight: 600;
  line-height: 52px;
  margin: 0.7em 0 0.5em;
}

.get-in-touch--wrapper p,
.get-in-touch--wrapper a {
  font-weight: 400;
  line-height: 32px;
  font-size: 1.7rem;
  margin: 15px 0px;
  display: block;
}

.get-in-touch--wrapper a {
  display: flex;
  align-items: center;
  gap: 10px;
}

#get-in-touch {
  margin: 0px 0px 35px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.partners ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 12px;
}

.trustpilot-btn {
  display: flex;
  padding: 11px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  background: #00B67A;
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
}

.trustpilot-btn img {
  margin-left: 8px;
}

.review {
  font-weight: 400;
  line-height: 26px;
  border-radius: 8px;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.05);
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.5rem;
  background-color: var(--color-white);
  margin: 0;
}

p {
  font-size: 1.5rem;
  color: var(--color-dark-blue-faded);
  font-weight: 400;
  line-height: 26px;
}

.heading {
  font-size: 3.5rem;
  line-height: 40px;
  font-weight: 600;
  color: var(--color-dark-blue);
}

h3 {
  font-size: 2.3rem;
  line-height: 30px;
  font-weight: 600;
  color: var(--color-dark-blue);
}

h2 {
  font-size: 3.5rem;
  line-height: 40px;
  font-weight: 600;
  color: var(--color-dark-blue);
}

.dark {
  background-color: var(--color-dark-blue);
}

.dark p {
  background-color: var(--color-dark-blue);
  color: var(--color-grey-300);
}

.dark h2,
.dark h3 {
  background-color: var(--color-dark-blue);
  color: white;
}

#why-rewallet ul,
#process ol,
#promise ul {
  display: flex;
  flex-direction: column;
}

.dark li {
  display: inherit;
  flex-direction: column;
  padding: 32px;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 8px;
  background-color: #2A2D51;
}

.dark li h3,
.dark li p {
  background-color: #2A2D51;
  margin: 0;
}

.footer {
  background-color: var(--color-grey-100);

}

.article-info {
  margin: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-info p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.articles p,
.articles time {
  color: var(--color-grey-400);
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.author-photo {
  border-radius: 50px;
}

.articles h3 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0px;
}

.articles li {
  margin-top: 28px;
}

.wrapper {
  max-width: 720px;
  padding: 24px 1.5rem;
  margin: 0 auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

strong {
  color: var(--color-orange)
}

.wallet-list li p,
.rec-wallets {
  color: var(--color-grey-400);
  line-height: 24px;
  font-weight: 500;
}

#about .about--link {
  color: var(--color-orange);
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  margin-bottom: 15px;
}

.wallet-list a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.wallet-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 12px;
}



.wallet-list img,
.wallet-list p {
  display: inline;
}

a {
  text-decoration: none;
  color: inherit;
}

.unlock-btn {
  margin: 0 auto;
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--color-orange);
  color: white;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 24px 0px;
}

.more-btn {
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  align-self: stretch;
  background-color: var(--color-orange);
  color: white;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  margin: 48px 0px 0px;
}

.start-now h2 {
  margin-bottom: 0;
}

.start-now p {
  margin-bottom: 0;
}

.start-now ul {
  margin: 25px 0px 35px
}

.FAQ-btn {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  gap: 20px;
}

.get-in-touch--wrapper p {
  margin: 15px 0px;
}

.side-nav {
  display: none;
}

ul,
ol {
  list-style-type: none;
}

#FAQ button {
  font-size: 2.3rem;
  line-height: 30px;
  font-weight: 500;
  background-color: inherit;
  display: flex;
  color: var(--color-dark-blue);
  text-align: left;
}

.V-mark p {
  margin: 5px 0px;
}

.dark li .li-order {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: var(--color-dark-blue);
  color: white;
  font-weight: 600;
}

#process li,
#promise li {
  margin: 24px 0px;
}

.Rewallet-wallet {
  width: 95%;
  position: relative;
  left: 2.5%;
  margin-top: 10px
}

.secure-wallet {
  width: 95%;
  position: relative;
  left: 2.5%;
}

blockquote img {
  padding: 30px 0px 15px;
}

.header {
  display: flex;
  justify-content: space-between;
}

#testimonals h2 {
  margin-bottom: 0px;
  text-align: center;
}

.review-heading,
.review-heading-text {
  text-align: center;
}

.block-heading,
.block-heading-text {
  text-align: center;
  margin: 15px 0px;
}

#testimonials a {
  margin-top: 35px;
}

blockquote p {
  margin: 0px;
  padding: 0px 0px 15px;
}

#why-rewallet li {
  margin-bottom: 24px;
}

.articles .blog--articles--news-img {
  width: 100%;
}