:root {
    --primary-color: #1a1e42;
    --strong-color: #F7931A;
    --faded-color: #98A2B3;
    font-size: 62.5% ;
}
/* space-grotesk-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/space-grotesk-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* space-grotesk-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/space-grotesk-v16-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* space-grotesk-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/space-grotesk-v16-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.6rem;

}
h1 {
    font-size: 3rem;
    font-weight: 600;
}
strong {
    color: var(--strong-color)
}

a {
    text-decoration: none;
    color: inherit;
}