:root {
  --color-dark-blue: #1a1e42;
  --color-dark-blue-faded: rgb(26, 30, 66, 0.80);
  --color-orange: #F7931A;
  --color-white: #fff;
  --color-grey-500: #667085;
  --color-grey-400: #98A2B3;
  --color-grey-300: #D0D5DD;
  --color-grey-100: #F2F4F7;
  --color-green: #00B67A;
  font-size: 62.5%;
}

/* space-grotesk-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/space-grotesk-v16-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* space-grotesk-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/space-grotesk-v16-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* space-grotesk-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/space-grotesk-v16-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.footer_top nav {
  color: #475467;
  font-weight: 600;
  line-height: 24px;
}

.footer_top p {
  color: var(--color-dark-blue);

}

.footer_bottom a {
  color: #475467;
  font-weight: 600;
  line-height: 24px;
}

.footer_bottom p {
  color: var(--color-grey-400);
  font-weight: 400;
  line-height: 24px;

}

#form p {
  color: white;
  font-size: 2.3rem;
  line-height: 30px;
  font-weight: 400;
  margin: 25px 0;

}

#form {
  margin: 48px 0px 60px;
  text-align: center;

}

.form-wrapper {
  padding: 1rem 1.5rem;
  margin: 0 auto;
}

#form .btn {
  display: flex;
  padding: 11px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  width: 100%;
  margin: 12px 0px;
  background-color: #F9FAFB;
  font-size: 1.5rem;
  color: var(--color-dark-blue);
  font-weight: 400;
  line-height: 26px;
}

.get-in-touch--wrapper {
  padding: 1rem 1.5rem;
  margin: 0 auto;
  color: var(--color-grey-300);
}

.get-in-touch--wrapper h2 {
  color: white;
  font-weight: 600;
  line-height: 52px;
}

.get-in-touch--wrapper p,
.get-in-touch--wrapper a {
  font-weight: 400;
  line-height: 32px;
  font-size: 1.7rem;
}

#get-in-touch {
  margin: 120px 0px 60px;
}

h1 , .partners h2{
  display: none;
}

.trustpilot-btn {
  display: flex;
  padding: 11px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  background: #00B67A;
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
}

.trustpilot-btn img {
  margin-left: 8px;
}

.review {
  font-weight: 400;
  line-height: 26px;
  border-radius: 8px;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.25);
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.5rem;
  background-color: var(--color-white);
  margin: 0;
}

p {
  font-size: 1.5rem;
  color: var(--color-dark-blue-faded);
  font-weight: 400;
  line-height: 26px;
}

.heading {
  font-size: 3.5rem;
  line-height: 40px;
  font-weight: 600;
  color: var(--color-dark-blue);
}

h3 {
  font-size: 2.3rem;
  line-height: 30px;
  font-weight: 600;
  color: var(--color-dark-blue);
}

h2 {
  font-size: 3.5rem;
  line-height: 40px;
  font-weight: 600;
  color: var(--color-dark-blue);
}

.dark {
  background-color: var(--color-dark-blue);
}

.dark p {
  background-color: var(--color-dark-blue);
  color: var(--color-grey-300);
}

.dark h2,
.dark h3 {
  background-color: var(--color-dark-blue);
  color: white;
}

.dark li {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 8px;
  background-color: #2A2D51;
}

.dark li h3,
.dark li p {
  background-color: #2A2D51;
  margin: 0;
}

.footer {
  background-color: var(--color-grey-100);

}

.articles p,
.articles time {
  color: var(--color-grey-400);
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.articles h3 {
  margin: 5px 0px 20px;
}

.wrapper {
  max-width: 700px;
  padding: 24px 1.5rem;
  margin: 0 auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

strong {
  color: var(--color-orange)
}

.wallet-list li p,
.rec-wallets {
  color: var(--color-grey-400);
  line-height: 24px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

.unlock-btn {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--color-orange);
  color: white;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 24px 0px;
}

.more-btn {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  align-self: stretch;
  background-color: var(--color-orange);
  color: white;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
}

.btn {
  border: none;
}
.FAQ-btn{
  padding: 0;
  margin: 0;
}
.side-nav {
  display: none;
}

ul,
ol {
  list-style-type: none;
}

#FAQ button {
  font-size: 2.3rem;
  line-height: 30px;
  font-weight: 500;
  background-color: inherit;
  display: flex;
  color: var(--color-dark-blue);
  text-align: left;
}

.V-mark p {
  margin: 5px 0px;
}
.dark li .li-order{
  display: flex;
padding: 10px 12px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background-color: var(--color-dark-blue);
color: white;
font-weight: 600;
}
#process li, #promise li {
  margin: 24px 0px;
}
#why-rewallet h2, #about h2, #process h2, #promise h2, #testimonials h2{
  margin-top:0px;
}
#why-rewallet li{
  margin-bottom: 24px;
}
